@model IEnumerable<CastafraySoundCatalog.Models.ContentModel>

@{
    ViewBag.Title = "Shuffled Content";
}

<h2>Shuffled Content</h2>

<p>
    <u>@Html.ActionLink("Create New Record", "ContentAdd", "Content")</u>
</p>
<p>
    <u>@Html.ActionLink("Shuffle", "ContentViewAllShuffled", "Content")</u>
</p>
<p>
    <u>@Html.ActionLink("All Content", "ContentViewAll", "Content")</u>
</p>
<p>
    <u>@Html.ActionLink("Content Manager", "ContentManager", "Content")</u>
</p>

<center>
    @foreach (var content in Model)
    {
        if (Helpers.IsImage(content.FileExtension))
        {
            <h4>@content.Title</h4>
            <img width="650" height="650" src="@Url.Content(content.BlobUrl)">
            <br />
            <hr />
        }
        if (Helpers.IsVideo(content.FileExtension))
        {
            <h4>@content.Title</h4>
            <video width="500" height="400" controls>
                <source src="@Url.Content(content.BlobUrl)" />
            </video>
            <br />
            <hr />
        }
        if (Helpers.IsSound(content.FileExtension))
        {
            <h4>@content.Title</h4>
            string soundFileExtension = content.FileExtension.TrimStart('.');
            <audio controls>
                <source src="@Url.Content(content.BlobUrl)" type="audio/@soundFileExtension">
            </audio>
        }
    }
</center>