@model IEnumerable<CastafraySoundCatalog.Models.ContentModel>

@{
    ViewBag.Title = "Image Manager";
}

<h2>Image Manager</h2>

<h4>Total Images: @Model.Count()</h4>

<p>
    <u>@Html.ActionLink("Create New Record", "ContentAdd", "Content")</u>
</p>

<table align="left" class="table table-condensed">
    <tr>
        <th>

        </th>
        <th>
            Title
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model.OrderBy(i => i.Title))
    {
        <tr>
            <td>
                <img width="100" height="100" src="@Url.Content(item.BlobUrl)">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("View", "ContentViewById", new { id = item.ContentId })
            </td>
            <td>
                @Html.ActionLink("Edit", "ContentEdit", new { id = item.ContentId }) 
            </td>
            <td>
                @Html.ActionLink("Delete", "ContentDelete", new { id = item.ContentId })
            </td>
        </tr>
    }
</table>