@model IEnumerable<CastafraySoundCatalog.Models.ContentModel>

@{
    ViewBag.Title = "Sound Manager";
}

<h2>Sound Manager</h2>

<h4>Total Sounds: @Model.Count()</h4>

<p>
    <u>@Html.ActionLink("Create New Record", "ContentAdd", "Content")</u>
</p>
<p>
    <u>@Html.ActionLink("My Music", "MyMusic", "Sounds")</u>
</p>
<table class="table table-condensed">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Listen:
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.OrderBy(i => i.Title))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @if (Helpers.IsSound(item.FileExtension))
                {
                    string soundFileExtension = item.FileExtension.TrimStart('.');
                    <audio controls>
                        <source src="@Url.Content(item.BlobUrl)" type="audio/@soundFileExtension">
                    </audio>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "ContentEdit", new { id = item.ContentId })
            </td>
            <td>
                @Html.ActionLink("Delete", "ContentDelete", new { id = item.ContentId })
            </td>
        </tr>
    }
</table>