@model IEnumerable<CastafraySoundCatalog.Models.VideoModel>

@{
    ViewBag.Title = "Video Manager";
}


<h2>Video Manager</h2>

<h4>Total Videos: @Model.Count()</h4>

<p>
    <u>@Html.ActionLink("Create New Record", "VideoAdd", "Videos")</u>


</p>
<table class="table table-condensed">
    <tr>
        <th>
            Name
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model.OrderBy(i => i.Description))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("View", "VideoViewById", new { id = item.VideoId })
            </td>
            <td>
                @Html.ActionLink("Edit", "VideoEdit", new { id = item.VideoId }) |
                @Html.ActionLink("Delete", "VideoDelete", new { id = item.VideoId })
            </td>
        </tr>
    }
</table>