@model IEnumerable<CastafraySoundCatalog.Models.SoundModel>

@{
    ViewBag.Title = "My Music";
}

<h2>My Music</h2>

<h4>Total Sounds: @Model.Where(x => x.Artist == "Castafray" || x.Artist == "Superstition").Count()</h4>

<p>
    <u>@Html.ActionLink("Create New Record", "SoundAdd", "Sounds")</u>
</p>
<p>
    <u>@Html.ActionLink("All Music", "SoundManager", "Sounds")</u>
</p>
<table class="table table-condensed">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Listen:
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Where(x => x.Artist == "Castafray" || x.Artist == "Superstition").OrderBy(i => i.Title))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @if (item.FileExtension == ".wav")
                {
                    <audio controls>
                        <source src="~/sound/@Url.Content(item.FileName)" type="audio/wav">
                    </audio>
                }
                @if (item.FileExtension == ".mp3")
                {
                    <audio controls>
                        <source src="~/sound/@Url.Content(item.FileName)" type="audio/mp3">
                    </audio>
                }
                @if (item.FileExtension == ".ogg")
                {
                    <audio controls>
                        <source src="~/sound/@Url.Content(item.FileName)" type="audio/ogg">
                    </audio>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "SoundEdit", new { id = item.SoundId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.SoundId })
            </td>
        </tr>
    }
</table>